@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('../fonts/JetBrainsMono-Regular.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: sans-serif;
    background: white;
}

*:focus {
    outline: none;
}

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.svg-wrapper {
    margin: 1rem;
    flex-grow: 1;
}

.menu {
    border: 1px solid gray;
    width: 250px;
    padding: 0.5rem;
    background: #d1cfff;
}
